.jumbotron {
  position: relative;
  background-image: url('../img/alph.jpg') ;
  width: 100%;
  height: 100%;
  background-size: cover;
  overflow: hidden;
}

#j2 {
  color: white;
  margin-top: 50px;
}


@media (min-width: 500px) {
  .smcont img {
    display: none;
  }
}

/*.display:hover {
  display: none;
}*/

.nav {
    text-align: center;
    margin-top: 50px;
    border: solid gray 3px;
    max-width: 300px;
    max-height: 50px;
    padding-top: 10px;
    padding-bottom: 50px;
    box-sizing: border-box;
      -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
}
.alpha{
  font-weight: bold;
}
