.jumbotron {
  position: relative;
  background-image: url('../img/alph.jpg') ;
  width: 100%;
  height: 100%;
  background-size: cover;
  overflow: hidden;
}

#j2 {
  color: white;
}


@media (min-width: 500px) {
  .smcont img {
    display: none;
  }
}
